# Dependencies
node_modules/
.pnp
.pnp.js

# Production
dist/
build/

# Environment files
.env
.env.local
.env.*.local

# Database
server/db.json

# Logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Debug
.eslintcache
